<style type="text/css">span {
    color: rgb(80, 49, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(248, 206, 247);
    align-self: center;
}

</style>